* {
    margin: 0px;
    font-family: arial;
}

body {
    width: 100%;
    height: 100%;
}

header {
    height: 300px;
    width: 100%;
    background-color: #294c71;
    background-image: url(imagens/fundo.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

#container_menu {
    width: 100%;
    height: 300px;
    background: url(imagens/logo.png) no-repeat 25% 30%;
}

#imagem_fundo {
    background: url(imagens/detalhe-topo.png) no-repeat left;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background: url(imagens/detalhe-topo.png) no-repeat 74% 25%;
}

#menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    position: relative;
    top: 90px;
    left: -100px;
}

#menu a {
    font-size: 1.2em;
    color: white;
    padding: 10px 20px;
    background: rgb(177, 7, 7) url(imagens/divisor.png) right repeat-y;
    text-decoration: none;
}

#primeiro {
    background: url(imagens/divisor.png) right repeat-y;
}

#corpo_pagina {
    width: 1000px;
    height: 100%;
    margin: 10px auto 0px auto;
    background-color: yellow;
}



#menu_lateral_esquerdo {
    width: 250px;
    height: 100%;
    float: left;
}

.container_lateral_esquerdo {
    background: url(imagens/fundo-caixa.png);
    padding: 10px;
    margin-bottom: 25px;
}

.container_lateral_esquerdo h2 {
    padding: 7px;
    background-color: #294c71;
    color: white;
}

.container_lateral_esquerdo ul {
    list-style: none;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.container_lateral_esquerdo li {
    margin-top: 20px;
    margin-bottom: 10px;
}

.container_lateral_esquerdo a {
    text-decoration: none;
    color: black;
}

#menu_lateral_direito {
    width: 740px;
    float: right;
}

.container_lateral_direito {
    float: left;
    width: 340px;
    background-image: url(imagens/fundo-caixa.png);
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 280px;
}

.container_lateral_direito h2 {
    background-color: #294c71;
    margin-bottom: 20px;
    padding: 5px;
    color: white;
    font-size: 1.2em;
}

.container_lateral_direito div {
    background-color: white;
    padding: 5px;
}

.container_lateral_direito h3 {
    display: inline;
    background-color: red;
    padding: 0px 5px;
    font-weight: bold;
    font-size: 1em;
}

.container_lateral_direito img {
    width: 100%;
    height: 200px;
}

.container_lateral_direito a {
    color: rgb(196, 6, 6);
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    clear: both;
}
footer div {
    background-color: rgb(119, 119, 122);
    width: 1000px;
    text-align: center;
}

footer p {
    padding: 5px 0px;
    font-weight: bold;
}