
.nav-item-bh:hover {
    background-color: white;
    border-radius: 10px;
}

.nav-item-color:hover {
    color: black;
}

.icon-lg {
    width: 40px;
    height: 40px;
}

.icon-md {
    width: 32px;
    height: 32px;
}

.border-lg {
    border: solid 10px white;
}

#works {
    position: relative;
    top: -70px;
}

.btn-custom {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;
}

.btn-icon {
	padding: 8px;
}

.bg-bluegradient {
    background: rgb(0,99,255);
    background: -moz-linear-gradient(0deg, rgba(0,99,255,1) 0%, rgba(0,125,255,1) 50%, rgba(0,99,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,99,255,1) 0%, rgba(0,125,255,1) 50%, rgba(0,99,255,1) 100%);
    background: linear-gradient(0deg, rgba(0,99,255,1) 0%, rgba(0,125,255,1) 50%, rgba(0,99,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0063ff",endColorstr="#0063ff",GradientType=1);
}